page-home {
    ion-spinner{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .ng-lazyloaded {
        animation: fadein 1s;
    }
    .ng-lazyloaded ion-spinner{
        display:none;
    }
    .ng-lazyloaded + ion-spinner {
        display:none;
    }
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}